body {
    background-color: black;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    padding: 10px 10px 10px 9px;
    width: 420px;
    display: flex;
}
.container__search {
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 15px 0px 0px 5px;

}
.sidebar__navigation.icon{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 16px 0px 0px 16px;
    display: flex;
}
.sidebar nav ul{
    padding: 0px 20px 10px 20px;
}
.sidebar nav li{
    padding: 10px 0px 15px;
}
.sidebar nav ul a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    font-family: "Arial-label", Arial;
}
.letters{
    vertical-align: text-top;
}
.list .fa {
    font-size: 25px;
    margin-right: 15px;
}
.list a:hover{
    color: white;
}
.icon img{
    width: 80px;
    padding: 0px 20px 10px 20px;
}
.container__library {
    display: inherit;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 4px 8px;
    flex-direction: column;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 18px;
    margin-top: 9px;
}
.library__content{
    display: flex;
    justify-content: space-between;

}
.library__button .fa{
    font-size: 20px;
    margin-right: 15px;
}
.library__button{
    display: flex;
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    padding: 5px 15px;
    margin-right: 10px;
    font-weight: 550;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
}
.library__button:hover{
    color: white;
}
.letters_li{
    padding: 3px;
}
.library__content .fa-plus{
    margin: 10px 17px;
    font-size: 21px;
    cursor: pointer;
}
.library__content .fa-plus:hover{
    color: white;
}
.section-playlist__content, .section-podcast__content{
    display: flex;
    position:inherit;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    background-color:rgb(46, 45, 45);
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    margin: 12px 0px 25px;
    padding: 16px 20px;
}
.title{
    font-size: 15.5px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    margin-top: 3px;
}
.subtitle{
    font-size: 13.7px;
    font-weight: 450;
    font-family: "DM Sans", sans-serif;
}
.section-playlist__button{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 0;
    margin-top: 8px;
    color: black;
    height: 30px;
    width: 120px;
    font-size: 13px;
    font-weight: 750;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}
.section-podcast__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border:0;
    margin-top: 8px;
    color: black;
    height: 30px;
    width: 140px;
    font-size: 13px;
    font-weight: 750;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}
.standard__links{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 140px;

}
.standard__links a{
    color: #b3b3b3;
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    padding: 10px 17px 10px 10px;
    text-align: start;
    margin-right: 20px;
}
.languages{
    display: flex;
}
.languages__button{
    background-color: transparent;
    color: white;
    border: 1px solid #878787;
    border-radius: 20px;
    height: 32px;
    width: 95px;
    margin: 22px 10px 28px 14px;
    font-size: 14px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}
.languages .fa{
    font-size: 17px;
}
.footer__content {
    background: linear-gradient(to right, #be13af, #6895ffe2);
    color: white;
    margin: 10px 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
}

.sign__free {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */
    padding: 11px 24px 7px 8px;
}

.footer__write {
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);
    margin: 4px 0 4px 5px;
}

.footer__title {
    font-weight: 900;
    font-size: 0.856rem;
}

.footer__subtitle {
    font-weight: 549;
    font-size: 15px;
    margin-top: 6px;
}

.sign__button {
    background-color: white;
    border: 0;
    height: 47px;
    border-radius: 30px;
    width: 150px;
    margin:0px 22px 1px 0;
    font-size: 15px;
    font-weight: 600;
}